@import "./globalStyles.css";

.container {
    margin: 0 auto;
}

.top-navigation {
    background-color: var(--COLOR-PRIMARY);
    padding-block: 2em;
    align-items: center;
    width: 100%;
}

.row-item {
    display: flex;
}

.logo-section {
    align-items: center;
    width: 10%;
}

.top-navigation h3 {
    color: var(--COLOR-TERTIARY-100);
    font-size: 1rem;
}

.search-section {
    margin-inline: 2em;
    width: 60%;
}

.search-section select {
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-section button {
    background-color: var(--COLOR-SECONDARY);
    color: var(--COLOR-TERTIARY);
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-section button:hover {
    background-color: var(--COLOR-SECONDARY-200)
}

.search-section button figure img {
    width: 12px;
}

.search-section button figure {
    align-items: center;
    justify-content: center;
}

.search-section select,
.search-section button {
    width: 15%;
    padding: 0.57em;
}

.search-section input {
    width: 70%;
    padding-inline: 1em;
}

.links-section {
    align-items: center;
    width: 20%;
}

.links-section ul .links-section__border::after {
    content: '';
    position: absolute;
    background-color: #2dbe28;
}

.top-navigation h4,
.links-section ul li a {
    color: var(--COLOR-TERTIARY);
    font-weight: 550;
}
.links-section ul li a:hover{
    color: var(--COLOR-SECONDARY);
}

.top-navigation h4 {
    text-align: center;
}

.links-section ul li a {
    text-decoration: none;
    margin-right: 2em;
}

.links-section ul li,
.bottom-navigation__links li {
    list-style-type: none;
}

.links-section ul li img {
    width: 20px;
}

.top-navigation .logo-section img {
    width: 60px;
}

.bottom-navigation-padding {
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.bottom-navigation {
    box-shadow: 0 1px 5px grey;
    padding-block: 1.4em;
}

.bottom-navigation__gift-voucher {
    background-color: var(--COLOR-PRIMARY);
    align-items: center;
    color: var(--COLOR-TERTIARY);
    padding: 0.4em 1em;
    border-radius: 4px;
    font-weight: 700;
}

.bottom-navigation__gift-voucher img {
    margin-right: 0.6em;
}

.bottom-navigation__gift-voucher small {
    margin-left: 0.8em;
}

.bottom-navigation__links li {
    margin-right: 2em;
}

.bottom-navigation__links li a {
    color: var(--COLOR-TERTIARY-200);
    font-weight: 700;
}

.bottom-navigation ul li a,
.bottom-navigation a {
    text-decoration: none;
}


/*  HERO SECTIONS  */

.hero-section__content h3 {
    font-family: Roboto;
    letter-spacing: 0.20em;
    font-size: 1.7rem;
    color: var(--COLOR-TERTIARY-100);
    margin-bottom: 0.6em;
}

.section__padding-center {
    margin-inline: auto;
    width: 70%;
}

.hero-section {
    padding-block: 10em;
    align-items: center;
    max-width: 2330px;
    justify-content: space-between;
}

.hero-section h1 {
    font-size: 2.9em;
    max-width: 600px;
    margin-bottom: 0.9em;
}

.hero-section img {
    object-fit: contain;
    width: 54%;
}


.discount__padding-center{
    margin-inline: auto;
    width: 84%;
}
.hero-section__content {
    width: 43%;
}

.hero-section h1,
.hero-section p {
    color: var(--COLOR-PRIMARY);
}

.hero-section__content a {
    font-weight: 600;
    text-decoration: none;
    color: var(--COLOR-TERTIARY);
    background-color: var(--COLOR-PRIMARY);
    padding: 1em 2em;
    border-radius: 5px;
}

.hero-section__content a:hover {
    background-color: var(--COLOR-PRIMARY-200);
}

.hero-section p {
    font-weight: 600;
    margin-bottom: 4em;
}

.discounted-items {
    justify-content: space-evenly;
}

.discount__veggies {
    background-color: #E8F4D9;
}

.discount__fruits {
    background-color: #F8E9D3;
}

.discount__Snacks {
    background-color: #EAEDF0;
}

.discount__fruits,
.discount__veggies,
.discount__Snacks {
    padding: 2em 3em;
    border-radius: 7px;
}

.discount__veggies,
.discount__fruits,
.discount__Snacks {
    align-items: center;
    justify-content: space-between;
}

.discount__veggies h4,
.discount__fruits h4,
.discount__Snacks h4 {
    font-size: 1.06rem;
    margin-bottom: 0.3em;
}

.discounted-items section{
    margin-right: 0.85em;
    flex: 0.7;
}
.discounted-items img{
    flex: 0.3;
}

.discount__fruits p,
.discount__Snacks p,
.discount__veggies p{
    font-weight: 800;
}
.discount__veggies p {
    color: var(--COLOR-SECONDARY);
}
.discount__fruits p{
    color: var(--COLOR-TERTIARY-100);
}
.discount__Snacks p{
    color: #499DF0;
}

.discount__veggies section button {
 
    background-color: var(--COLOR-SECONDARY);
}
.discount__fruits section button{
    background-color: var( --COLOR-TERTIARY-100);
}

.discount__Snacks section button{
    background-color: #499DF0;
}
.discount__veggies section button,
.discount__fruits section button,
.discount__Snacks section button{
    border: none;
    cursor: pointer;
    padding: 0.6em 0.8em;
    margin-top: 12px;
    border-radius: 5px;
    color: var(--COLOR-TERTIARY);
}

.discount__fruits p,
.discount__Snacks p,
.discount__veggies p {
    font-size: 0.7rem;
    font-weight: 600;
}

.categories{
    padding-block: 9em;
}

.categories article{
    padding: 3.1em 4.9em;
    border-radius: 6px;
}

.categories .categories__veggies,
.categories .categories__bread, 
.categories .categories__dairy,
.categories .categories__spice{
    text-align: left;
}

.categories .categories__veggies{
    background-color: var(--COLOR-SECONDARY-200);
}

.categories .categories__bread{
    background-color: #4853B5;
}

.categories h2{
    margin-bottom: 3.1em;
}
.categories .categories__spice{
    background-color: #DB8B14;
}

.categories .categories__dairy{
    background-color: #315893 ;
}

.categories section h5, .categories section h3{
    color: var(--COLOR-TERTIARY);
}

.category-section{
    justify-content: space-evenly;
}

.categories-section section{
    margin-right: 3em;
}
.categories article{
    position: relative;
}
.categories img {
    position: absolute;
    width: 85px;
    bottom: 0px;
    right: 8px;
}

.product-section h2{
    margin-bottom: 1.4em;
}
