@import "../style/globalStyles.css";
.container {
    margin: 0 auto;
}

body {
    background-color: rgb(241, 241, 241);
}

.Top-nav {
    background-color: var(--COLOR-PRIMARY);
    padding-block: 2em;
    align-items: center;
    width: 100%;
}

.row-item {
    display: flex;
}

.Top_nav_logo_section {
    align-items: center;
    width: 10%;
    cursor: pointer;
}

.logo-firstline {
    color: var(--COLOR-TERTIARY-100);
    font-size: 1rem;
}

.logo-secondline {
    color: var(--COLOR-TERTIARY);
    font-weight: 550;
    text-align: center;
}

.giftpage-words {
    margin: 5em 3em;
}

h1 {
    margin-left: 24em;
    margin-bottom: 2em;
}

.giftpage-words p {
    text-align: start;
    margin-bottom: 1em;
}

footer {
    background-color: var(--COLOR-PRIMARY);
    margin-top: 4em;
}

footer h3 {
    text-align: center;
    padding-block: 2em;
    color: var(--COLOR-TERTIARY);
}